@model Bookstore.Models.SaleModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SaleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Value
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Subtotal
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SaleItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subtotal)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SaleItemId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.SaleItemId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.SaleItemId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.Clients">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
