@model IEnumerable<Bookstore.Models.SaleModel>

@{
    ViewData["Title"] = "Vendas";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="bi bi-cart-plus"></i> Nova Vemda</a>
</p>

<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped table-borderless">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SaleId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.SaleId)*@
                            @item.SaleId.ToString("000000")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.Name)
                        </td>
                        <td class="text-end">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Action product item sale">
                                <a asp-action="Details" asp-route-id="@item.SaleId" class="btn btn-secondary"><i class="bi bi-card-text"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.SaleId" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.SaleId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>